form {
  position: fixed;
  bottom: 108px;
  right: 8%;
  background-color: rgba(216, 216, 216, 0.774);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  border-radius: 15px;

  .form__title{
    width: 100%;
    height: 50px;
    background-color: rgb(87, 87, 87);
    margin-bottom: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: #ffffff;
  }

  div{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;

    div{
      width: 100%;
    }

    input{
      width: 250px;
    }
  }
}
