.slide__one, .slide__two, .slide__three{
  margin-top: 10px;
  display: block;
  height: 260px;
  background-size: 100% 100%;
  background-position: center;
  background-color: rgb(196, 196, 196);
}

.slide__one{
  background-image: url(https://beltopshop.com/images/2019_06/gippo/gippo-0506-1.jpg);
}

.slide__two{
  background-image: url(https://irmag.ru/uploads/files/2018/04/16/24503498ae8e349ad504e7f1508f716f563ba4c8.png);
}

.slide__three{
  background-image: url(https://skidkimira.ru//images/discount/3f6badbf40ee4dda27ea9de4b8a9e019.JPG);
}